* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}

.logo {
    height: 150px;
    display: flex;
}

header {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.427);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.perfil {
    height: 60px;
    margin-left: 15px;
}

.dire {
    align-items: end;
    margin-right: 25px;
}

.menu {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    justify-content: space-between;

}






header>div {
    display: flex;
    align-items: center;

}


h1 {
    color: snow;
    margin-top: 95px;
    margin-left: 55px;
}







p {
    color: snow;
    justify-content: space-around;
    padding: 25px;
    font-size: larger;
}

hr {
    margin-top: 15px;
    height: 3px;
    border: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 0, 0, 0.3310574229691877) 100%);
    width: 1100px;
    margin-left: 35px;

}


.bordinha {
    border: 1px solid snow;
    border-radius: 9px;
    margin-top: 29px;
    margin-left: 39px;


}

.bordinha:hover {
    border: 1px solid snow;
    border-radius: 9px;
    margin-top: 29px;
    margin-left: 39px;
    transition: 300ms;
    transform: scale(1.1);

}

.f {
    display: flex;
    margin-left: 10px;
    overflow: scroll;
}

.f::-webkit-scrollbar {
    display: none;
}

main {
    max-width: 90vw;
    margin: 0 auto;
}


footer {
    border-top: 3px solid snow;


    margin-top: 35px;
}


.r {
    text-align: center;
    margin margin-top: 30px;
    font-size: small;
}

.midia{
    border: 1px solid red;
    background-color: red;
    text-decoration: none;
    color: snow;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    flex-direction: column;
    text-align: center;
    margin-left: 148px;
}